<div class="jss168" style="    margin-top: -20px;">
  <div class="jss173 jss178 jss174 jss172 index__root___3k913 jss170">
    <div class="jss200 jss169 jss171">
      <div class="index__root___20cqe jss201">
        <div class="index__content___3UQ50">
          <div class="index__root___1wA6S">
            <a class="index__root___12BYS index__link___1GQYH jss202 {{#if (eq menu 'calendar')}}index__active___1-_PI{{/if}} jss203"
              href="/calendar" style="color: #07c066;">
              <span style="line-height: 28px;height: 28px;">
                <span class=" index__icon___3xqZx jss204 index__root___2XTpz jss6"
                  style="display:inline-block;vertical-align: middle;">
                  <svg width="22" height="22" viewBox="123 66 20 18">
                    <path
                      d="M138.887 67.32v-1.296H136.2v1.296h-6.4v-1.296h-2.687v1.296H123v16.496h20V67.32h-4.113zm-1.705 11.862h-3.736V76.63h3.736v2.552zm.892-2.553h3.44v2.552h-3.44V76.63zm-9.256 0h3.736v2.552h-3.736V76.63zm-.892 2.552h-3.44V76.63h3.44v2.552zm5.52-3.445v-2.255h3.736v2.255h-3.736zm-.893 0h-3.736v-2.255h3.736v2.255zm-4.628 0h-3.44v-2.255h3.44v2.255zm-3.44 4.337h3.44v2.254h-3.44v-2.254zm4.33 0h3.737v2.254h-3.736v-2.254zm4.63 0h3.735v2.254h-3.736v-2.254zm4.627 0h3.44v2.254h-3.44v-2.254zm3.44-4.337h-3.44v-2.255h3.44v2.255zm-17.025-3.742v-3.19h2.627v1.296h2.686v-1.294h6.4V70.1h2.687v-1.294h2.626v3.19h-17.026z"
                      fill-rule="evenodd"></path>
                  </svg>
                </span>
                <span class="index__label___o1V9a" style="
                      display: inline-block;
                      color: black;
                      line-height: 28px;
                      font-size: 15px;
                      font-weight: 100;
                      vertical-align: middle;
                      height: 25px;">Résultats</span>
              </span>
            </a>
          </div>
          <div class="index__root___1wA6S">
            <a class="index__root___12BYS index__link___1GQYH jss202 {{#if (eq menu 'ranking')}}index__active___1-_PI{{/if}}"
              href="/ranking" style="color: #07c066;">
              <span style="line-height: 28px;height: 28px;">
                <span class="index__icon___3xqZx jss204 index__root___2XTpz jss6"
                  style="display:inline-block;vertical-align: middle;">
                  <svg width="23" height="21" viewBox="175 65 23 21">
                    <g>
                      <path
                        d="M193.04 67.974V65h-13.317v2.974H176c-.003 3.275 1.526 6.364 4.132 8.348.032.09.068.176.104.263l.042.097c.026.058.052.116.08.174l.048.102.09.175.045.084c.047.084.094.166.143.245.013.023.028.045.042.067.037.06.075.12.114.178l.06.09.11.154.064.084c.046.06.093.12.14.177.014.017.027.034.042.05.06.073.122.144.186.214.02.024.042.047.065.07.045.05.09.097.136.143l.076.076c.046.047.094.092.142.137l.07.064c.07.064.14.126.214.187l.046.036c.06.05.12.097.183.144.027.02.054.042.08.06.054.04.108.077.162.114.027.02.056.04.084.058.064.042.128.083.193.123.018.01.036.023.054.034.082.05.166.097.252.144l.073.04.188.096.093.044c.062.03.125.057.19.084l.083.036c.09.038.18.074.272.108l.03.01c.083.03.167.058.25.084l.093.028c.067.02.134.04.202.057l.096.025c.076.02.15.037.228.053l.066.015c.098.02.196.038.294.053l.075.012c.073.01.146.02.22.028v3.675h-5.198V85.8h11.874v-1.475h-5.196v-3.677c.08-.01.16-.02.24-.032l.025-.003c.098-.015.196-.033.294-.052l.09-.02c.068-.014.137-.03.206-.047l.095-.024c.08-.022.158-.044.235-.068l.05-.015c.092-.028.182-.06.27-.092.032-.01.063-.023.094-.035l.18-.072.102-.042.19-.086.075-.035c.082-.04.163-.082.243-.126.033-.02.066-.038.1-.057l.15-.087c.035-.02.07-.042.107-.065.05-.03.097-.06.146-.092l.096-.063.21-.15.106-.085c.036-.03.078-.06.116-.09l.11-.093c.038-.03.072-.06.107-.092.034-.03.072-.063.107-.096.06-.057.12-.113.178-.17.038-.036.074-.074.11-.112l.085-.087.11-.12c.025-.028.05-.056.073-.084.127-.148.247-.3.36-.46.02-.026.04-.052.057-.08l.1-.146.05-.08c.11-.17.21-.346.304-.527l.04-.076.08-.168.037-.085c.027-.057.053-.115.077-.173 2.798-1.964 4.464-5.17 4.463-8.588h-3.96zm-13.317 5.767c-.458-.537-.852-1.127-1.172-1.757-.384-.76-.657-1.57-.81-2.41h1.983v4.168zm11.718-5.766v6.058c.002.627-.116 1.25-.345 1.833l-.036.088c-.14.334-.314.653-.52.95l-.035.05-.08.11c-.04.053-.08.104-.122.155l-.042.05-.11.128-.045.05c-.042.045-.085.09-.13.135l-.03.032c-.05.052-.104.102-.158.15-.022.022-.045.043-.068.06l-.09.078-.1.084-.042.032c-.088.07-.178.136-.27.2-.312.212-.646.39-.996.527l-.008.003c-.16.063-.324.117-.49.163l-.053.014c-.04.012-.086.022-.13.033l-.087.02c-.04.007-.08.016-.118.024-.05.01-.098.018-.147.026-.04.007-.078.013-.118.018l-.155.02-.084.007c-.05.005-.1.01-.152.012l-.072.004c-.075.004-.15.006-.225.006-.074 0-.15-.002-.224-.006-.03 0-.06-.003-.09-.005l-.126-.008-.123-.013-.07-.01c-.98-.126-1.905-.538-2.656-1.183l-.068-.06-.073-.067c-.04-.035-.076-.07-.112-.106l-.047-.046c-.108-.11-.21-.223-.31-.34l-.04-.05c-.034-.042-.066-.083-.097-.125l-.054-.07-.074-.104c-.088-.127-.17-.26-.248-.396l-.017-.03-.083-.156-.008-.017c-.09-.17-.166-.35-.233-.53l-.026-.07c-.187-.536-.283-1.1-.282-1.667V66.6h10.124v1.374zm1.6 6.033v-4.434h2.215c-.162.896-.46 1.762-.887 2.567-.36.677-.806 1.304-1.327 1.867z">
                      </path>
                      <path d="M190.143 67.93h-1.483l1.483 3.938"></path>
                    </g>
                  </svg>
                </span>
                <span class="index__label___o1V9a" style="
                      display: inline-block;
                      color: black;
                      line-height: 28px;
                      font-size: 15px;
                      font-weight: 100;
                      vertical-align: middle;
                      height: 25px;">Classements</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-v-6d00491e="" class="Caption layout" style="background-color: rgb(9, 28, 62);">
  <div data-v-6d00491e="" class="Caption__content caption"
    style="background-color:#085fff; padding:2px 8px; position:relative;">
    <!---->
    <div data-v-4e406f18="" data-v-6d00491e="" class="caption__image">
      <img data-v-4e406f18="" alt="" title="" src="/L1-2024-2025.png" class="Logo" height="24px">
      <span style="
            color: white;
            position: absolute;
            top: 6px;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -.32px;
            right: 6px;
        ">2024 / 2025
      </span>
    </div>
    <!---->
  </div>
</div>